.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight, .highlight .w {

  color: #07070d;

  background-color: #272822;

}

.highlight .err {

  color: #d8d7dd;

  background-color: #f92672;

}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {

  color: #8a8ea1;

}

.highlight .cp {

  color: #0b408a;

}

.highlight .nt {

  color: #0b408a;

}

.highlight .o, .highlight .ow {

  color: #07070d;

}

.highlight .p, .highlight .pi {

  color: #07070d;

}

.highlight .gi {

  color: #591dd1;

}

.highlight .gd {

  color: #06d98d;

}

.highlight .gh {

  color: #992610;

  background-color: #272822;

  font-weight: bold;

}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {

  color: #517e00;

}

.highlight .kc {

  color: #0268e0;

}

.highlight .kt {

  color: #0268e0;

}

.highlight .kd {

  color: #0268e0;

}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {

  color: #591dd1;

}

.highlight .sa {

  color: #517e00;

}

.highlight .sr {

  color: #5e101b;

}

.highlight .si {

  color: #3399cc;

}

.highlight .se {

  color: #3399cc;

}

.highlight .nn {

  color: #0b408a;

}

.highlight .nc {

  color: #0b408a;

}

.highlight .no {

  color: #0b408a;

}

.highlight .na {

  color: #992610;

}

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {

  color: #591dd1;

}

.highlight .ss {

  color: #591dd1;

}